{% if card_product.tags contains 'Print' %}
  <span class="icon_card-item print"></span>
{% endif %}
{% if card_product.tags contains 'Puzzle' %}
  <span class="icon_card-item puzzle"></span>
{% endif %}
{% if card_product.tags contains 'Carte postal' %}
  <span class="icon_card-item cp"></span>
{% endif %}
{% if card_product.tags contains 'Tapis de souris' %}
  <span class="icon_card-item tps"></span>
{% endif %}
{% if card_product.tags contains 'T-shirt' %}
  <span class="icon_card-item t-shirt"></span>
{% endif %}