.tylt_custom_footer {
    background-color: $dark-blue;
    height: 40vh;
    display: flex;
    flex-direction: column;

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: $violet;
        border-bottom: $rose 1px solid;
        &__logo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: row;
        }
        &__social{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: row;
            gap: 10px;

            a {
                color: white;
                text-decoration: none;
                height: 24px;
                width: 24px;
                overflow: visible;
                transition: all 0.2s ease-in-out;

                &:visited,
                &:focus {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    rotate: -15deg;
                }
            }
        }
    }

    &__middle{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        img{
            max-width: 90vw;
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: $dark-blue;
        color: $rose;
        font-size: 8pt;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        @include breakpoints(sm, max){
            font-size: 8px;
            flex-direction: column-reverse;
            padding: 10px 0px;
            height: auto;
        }

        a {
            color: $rose;
            text-decoration: none;
            text-decoration: none;


            &:visited,
            &:focus {
                color: $rose;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;

            li {
                margin: 0 1pt;

                &::after {
                    content: "-";
                    margin: 0 1pt;
                }

                &:last-child::after {
                    content: "";
                }
            }
        }
    }
}