{% schema %}
{
  "name": "Bloc Video + TV",
  "settings": [
    {
      "type": "url",
      "id": "video_link",
      "label": "Lien video embded"
    }
  ],
  "presets": [
    {
      "name": "Bloc Video + TV (Tokyo Parade)"
    }
  ]
}
{% endschema %}

<section id="hats_tokyoparade_video">
  <div class="banner_video_tp">
    <div class="tv_back"></div>
    <iframe
      src="{{ section.settings.video_link }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</section>
