{% schema %}
{
  "name": "STOREDECKS - Pinceaux Top",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Pinceau",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Pinceau"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "STOREDECKS - Pinceaux Top"
    }
  ]
}
{% endschema %}

<section class="hats_storedecks_top">
  <div class="hats_storedecks_top__container">
    {% for block in section.blocks %}
        <span class="hats_storedecks_top__container__item" style="background-image:url('{{ block.settings.icon | image_url }}')"></span>
    {% endfor %}
  </div>
</section>
