{% schema %}
{
  "name": "Social Icons",
  "settings": [
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },        
        {
          "type": "url",
          "id": "icon_link",
          "label": "Lien"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Socials Icons"
    }
  ]
}
{% endschema %}

<section id="hats_socials_icons">
  <div class="container">
    <div class="socials">
      {% for block in section.blocks %}
        <a href="{{ block.settings.icon_link }}" alt="{{ block.settings.icon_link }}" target="_blank">
          <img src="{{ block.settings.icon | image_url }}" alt="Icon">
        </a>
      {% endfor %}
    </div>
  </div>
</section>
