{% schema %}
{
  "name": "TYLT - TinyImgJules",
  "settings": [
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Zone de texte"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Images Back"
    }
  ],
  "presets": [
    {
      "name": "TYLT - TinyImgJules"
    }
  ]
}
{% endschema %}

<section class="tylt_tiny_jules">
  <div data-aos="fade-right" class="tylt_tiny_jules__image">
    <span class="tylt_tiny_jules__image__container">
      <span
        class="tylt_tiny_jules__image__container__item"
        style="background-image:url('{{ section.settings.background | image_url }}')"
      ></span>
    </span>
  </div>
  <div class="tylt_tiny_jules__text">
    <span data-aos="fade-left" class="tylt_tiny_jules__text__container">{{ section.settings.paragraph }}</span>
  </div>
</section>
