{% schema %}
{
  "name": "TYLT - TextJules",
  "settings": [
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Zone de texte",
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Images Back"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Lien"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Images droite"
    }
  ],
  "presets": [
    {
      "name": "TYLT - TextJules"
    }
  ]
}
{% endschema %}

<section class="tylt_text_jules">
  <div class="tylt_text_jules__text" style="background-image:url('{{ section.settings.background | image_url }}">
    <span data-aos="fade-right"class="tylt_text_jules__text__container">{{ section.settings.paragraph }}</span>
  </div>
  <div data-aos="fade-up" class="tylt_text_jules__image">
    <a href="{{ section.settings.button_link }}" alt="Voir sur le site de Jules" aria-label="Voir sur le site de Jules">
      <span class="tylt_text_jules__image__container">
        <span
          class="tylt_text_jules__image__container__item"
          style="background-image:url('{{ section.settings.image | image_url }}')"
        ></span>
      </span>
    </a>
  </div>
</section>
