{% schema %}
{
  "name": "TYLT - FullSizeImgproduct",
  "settings": [],
  "presets": [
    {
      "name": "TYLT - FullSizeImgproduct"
    }
  ]
}
{% endschema %}

<section class="page-width tylt_full_size_image_product">
  {% if product %}
    {% if product.tags contains 'Print' %}
      <img data-aos="fade-up" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
    {% endif %}
  {% endif %}
</section>

